body {
  background-image: url(https://i.imgur.com/g3CXf2f.png);
  background-size: cover;
}

.buttonContainer {
  margin: 5px;
  padding: 5px;
}

.boardContainer {
  margin: 50px;
  padding: 50px;
  text-align: center;
}

.boardParent {
  margin: 0;
  padding: 0;
  line-height: 0px;
}

.boardPiece {
  position: absolute;
}

.boardNumber {
  padding: 10px;
}

.boardLetters {
  padding-left: 65px;
  letter-spacing: 35px;
}

.enterMovesParent {
  margin: 10px;
  padding: 10px;
}

.footer {
  height: 30vh;
  bottom: 0px;
}
