body {
  background-image: url(http://localhost:3000/background/bg3.png);
  background-size: cover;
}

.boardContainer {
  margin: 50px;
  padding: 50px;
  text-align: center;
}

.boardParent {
  margin: 0;
  padding: 0;
  line-height: 0px;
}

.boardPiece {
  position: absolute;
}

.boardNumber {
  padding: 10px;
}

.boardLetters {
  padding-left: 65px;
  letter-spacing: 35px;
}

.enterMovesParent {
  margin: 10px;
  padding: 10px;
}
