.boardParent {
  margin: 0;
  padding: 0;
  line-height: 0px;
}

.boardSpace {

}

.boardPiece {
  position: absolute;
}

.boardNumber {
  padding: 10px;
}

.boardLetters {
  padding-left: 45px;
  letter-spacing: 36px;
}
